<%- include("headpartial-change-password.ejs") %>

<form>
    <main>
        <h1>Change Password</h1>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new-password" required>
        <label for="confirm-new-password">Confirm New Password:</label>
        <input type="password" id="confirm-new-password" name="confirm-new-password" required>
        <button type="submit">Change Password</button>
    </main>

<%- include("footpartial.ejs") %>