<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/site-style.css">
    <title>Cookity</title>
</head>
<body> 
    <header>
        <div class="site-logo">
            <img src="images/Cookity-logo.png" alt="site-logo" style="height: 70%; width: 20%;">
            <p>Cookity</p>
        </div>
        <nav>
            <a href="">about me</a>
            <img src="" alt="">
            <img src="" alt="" >
        </nav>
        <section>
            <a href="/settings/toggle-theme?next=<%- encodeURIComponent(page) %>">
                <% if (app.theme === 'dark') { %>
                    <strong>Dark</strong> | Light
                <% } else { %>                    
                    Dark | <strong>Light</strong>
                <% } %>
            </a>
        </section>
    </header>