<%- include("headpartial-login.ejs") %>

    <main>
        <h1>Login</h1>
        <form action="/login" method="POST" class="formularz">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>

        <p >You don't have an account? </p>
        <a class="navy-button" href="/signup">Sign up</a>
    </main>

<%- include("footpartial-login.ejs") %>