<%- include("headpartial-login.ejs") %>

    <main>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </form>

        <p >You don't have an account? </p>
        <a class="navy-button" href="/signup">Sign up</a>
    </main>

<%- include("footpartial.ejs") %>