<%- include("headpartial-auth.ejs") %>

    <main>
        <h1>Login</h1>
        <form action="/welcome" method="POST" class="formularz">

            <label for="email">Login:</label>
            <input type="text" id="email" name="email" required placeholder="Enter Username or Email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Enter Password">
            <button type="submit">Login</button>
        </form>

        <p >You don't have an account? </p>
        <a class="navy-button" href="/signup">Sign up</a>
    </main>

<%- include("footpartial-login.ejs") %>