<%- include("headpartial-signup.ejs") %>

    <main>
        <h1>Sign up</h1>
        <form action="/signup" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <br>
            <button type="submit">Sign up</button>
        </form>
    </main>

<%- include("footpartial-login.ejs") %>